.upvoteList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border: 1.5px solid lightgrey;
    width: 200px;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
    min-height: 40px;
}